1-Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [18]:
mi_lista=['Milan','Barcelona','Tokio','Buenos Aires','New York','El Cairo']
print(mi_lista)

['Milan', 'Barcelona', 'Tokio', 'Buenos Aires', 'New York', 'El Cairo']

2-Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(mi_lista[1])

'Barcelona'

3-Imprimir por pantalla del segundo al cuarto elemento

In [5]:
print(mi_lista[1:4])

['Barcelona', 'Tokio', 'Buenos Aires']

4-Visualizar el tipo de dato de la lista

In [6]:
type(mi_lista)

list

5-Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [7]:
print(mi_lista[2:])

['Tokio', 'Buenos Aires', 'New York', 'El Cairo']

6-Visualizar los primeros 4 elementos de la lista

In [12]:
print(mi_lista[:4])

['Milan', 'Barcelona', 'Tokio', 'Buenos Aires']

7-Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [19]:
mi_lista.append('Buenos Aires')# solo puedo agregar 1
mi_lista

['Milan',
 'Barcelona',
 'Tokio',
 'Buenos Aires',
 'New York',
 'El Cairo',
 'Buenos Aires']

8-Agregar otra ciudad, pero en la cuarta posición

In [20]:
mi_lista.insert(3,'Osaka')
mi_lista

['Milan',
 'Barcelona',
 'Tokio',
 'Osaka',
 'Buenos Aires',
 'New York',
 'El Cairo',
 'Buenos Aires']

9-Concatenar otra lista a la ya creada

In [21]:
mi_lista.extend(['Río de Janeiro','Bangladesh'])

10-Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [23]:
mi_lista.index('Buenos Aires') #solo me devuelve la primera ubicación

4

11-¿Qué pasa si se busca un elemento que no existe?

In [24]:
mi_lista.index("Miami")

ValueError: 'Miami' is not in list

12-Eliminar un elemento de la lista

In [25]:
mi_lista.remove('Bangladesh')

13-¿Qué pasa si el elemento a eliminar no existe?

In [27]:
mi_lista.remove('Carlos Paz')

ValueError: list.remove(x): x not in list

14-Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [28]:
ultimo=mi_lista.pop()
print(ultimo)

15-Mostrar la lista multiplicada por 4

In [30]:
print(mi_lista*4)

['Milan', 'Barcelona', 'Tokio', 'Osaka', 'Buenos Aires', 'New York', 'El Cairo', 'Buenos Aires', 'Milan', 'Barcelona', 'Tokio', 'Osaka', 'Buenos Aires', 'New York', 'El Cairo', 'Buenos Aires', 'Milan', 'Barcelona', 'Tokio', 'Osaka', 'Buenos Aires', 'New York', 'El Cairo', 'Buenos Aires', 'Milan', 'Barcelona', 'Tokio', 'Osaka', 'Buenos Aires', 'New York', 'El Cairo', 'Buenos Aires']

16-Crear una tupla que contenga los números enteros del 1 al 20

In [40]:
mi_tupla= tuple(range(1,20))

type(mi_tupla)

tuple

17-Imprimir desde el índice 10 al 15 de la tupla

In [41]:
print(mi_tupla[10:15])

(11, 12, 13, 14, 15)

18-Evaluar si los números 20 y 30 están dentro de la tupla

In [47]:
'20' in mi_tupla
'30' in mi_tupla

False

19-Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [49]:
'Paris' in mi_lista
mi_lista.append('Paris')

20-Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la list

In [51]:
mi_tupla.count(3)
mi_lista.count('Buenos Aires')

2

21-Convertir la tupla en una lista

In [56]:
nueva_lista=list(mi_tupla)
type(nueva_lista)

list

22-Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [65]:
mi_tupla= 'Juliana',33, 'soltera'

nombre, edad, estado_civil = mi_tupla

print('Nombre: ',nombre, 'Edad: ', edad, 'Estado civil: ', estado_civil )
print(f'Nombre: {nombre}  Edad: {edad}  Estado civil: {estado_civil}')

Nombre:  Juliana Edad:  33 Estado civil:  soltera
Nombre: Juliana  Edad: 33  Estado civil: soltera

23-Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente"

In [72]:
mi_lista=['Milan','Barcelona','Tokio','Buenos Aires','New York','El Cairo']
print(mi_lista)
mi_diccionario= {'Ciudad': mi_lista, 'País':['Italia', 'España', 'Japón','Argentina', 'Estados Unidos', 'Egipto'], 'Continente':['Europa', 'Europa','Asia','América','África']}

print(mi_diccionario)

['Milan', 'Barcelona', 'Tokio', 'Buenos Aires', 'New York', 'El Cairo']
{'Ciudad': ['Milan', 'Barcelona', 'Tokio', 'Buenos Aires', 'New York', 'El Cairo'], 'País': ['Italia', 'España', 'Japón', 'Argentina', 'Estados Unidos', 'Egipto'], 'Continente': ['Europa', 'Europa', 'Asia', 'América', 'África']}

24-Imprimir las claves del diccionario

In [74]:
print(mi_diccionario.keys())

dict_keys(['Ciudad', 'País', 'Continente'])

25-Imprimir las ciudades a través de su clave

In [75]:
print(mi_diccionario.values())

dict_values([['Milan', 'Barcelona', 'Tokio', 'Buenos Aires', 'New York', 'El Cairo'], ['Italia', 'España', 'Japón', 'Argentina', 'Estados Unidos', 'Egipto'], ['Europa', 'Europa', 'Asia', 'América', 'África']])

In [76]:
a=(1,2,3)
type(a)

tuple